[Unit]
Description=Cluster init services
Before=multi-user.target
ConditionPathExists=/opt/cluster/layers

[Service]
ExecStart=/bin/sh /opt/cluster/bin/clusterinit init
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=basic.target
